* {
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./pics/pexels-dana-tentis-725991.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}